@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 14, 14);
    color: white;
}
header{
    background-color: rgb(122, 29, 122);
    width: 100vw;
    height: 5vw;
}
li{
    list-style: none;
    display: inline;
    margin: 20px;
}
ul>li>a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
